img{
  object-fit: contain;
  max-width: 100%;
}

.flex-container {
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start; /* should align items to the top of your flex row if they don't reach 100px in height */
}
.inner-image {
  max-height: 200px;
}
.inner-image.portrait {
  height: 400px;
  width: 200px;
}
.inner-image.landscape {
  height: 200px;
  width: 500px;
}

.overview-container{
  margin-left: 20px;
  margin-right: 20px;
}

h2{
  color: #358ED7;
  text-align: center;
}

p{
  color: white;
  text-align: center;
}

label{
  color: white;
  text-align: center;
}

.centered{
  text-align: center;
}

input{
  width: 100%;
}