body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.feature {
  position: relative;
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.u-1\/1 {
  width: 100%!important;
}

.small-img{
  max-width: 8rem;
}
